In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Lendo Dados - Trabalhando com Tabelas Reais

Iremos trabalhar com o dataset `datasus_populacao_faixa_etarea.csv`. Ele tem

In [4]:
import pandas as pd

df = pd.read_csv('data/datasus_populacao_faixa_etarea.csv', skiprows=3, sep=";", decimal=',')

df.head()

,Município,Menor 1 ano,1 a 4 anos,5 a 9 anos,10 a 14 anos,15 a 19 anos,20 a 29 anos,30 a 39 anos,40 a 49 anos,50 a 59 anos,60 a 69 anos,70 a 79 anos,80 anos e mais,Total
0,110001 ALTA FLORESTA D'OESTE,371,1511,2079,2369,2554,4235,3613,3238,2039,1211,680,169,24069
1,110002 ARIQUEMES,1447,6015,8504,9502,9281,17901,14999,11762,7080,3772,1842,642,92747
2,110003 CABIXI,109,382,493,588,577,942,893,856,664,365,208,55,6132
3,110004 CACOAL,1222,4642,6336,7545,7935,14918,12806,10580,6808,3665,2055,818,79330
4,110005 CEREJEIRAS,254,968,1342,1619,1701,2939,2543,2372,1450,976,514,174,16852